<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="GuiRefreshTimer" value="200"/>
    <add key="ShowFileSize" value="false"/>
    <add key="Encoding" value="UTF8"/>
    <add key="Formating_Separator" value="}OR,OR|OR-OR]"/>
    <add key="Formating_SeparatorNumber" value="10"/>

    <!--Default 
    ASCII 
    BigEndianUnicode 
    Unicode 
    UTF32
    UTF7
    UTF8-->
  </appSettings>
  
  <system.diagnostics>
    <trace autoflush="true" indentsize="5">
      <listeners>
        <add name="DemoListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="LogWatcherError.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>